{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}				<!-- this is for the form submission and validation -->

{% block title %}Databoba{% endblock %}


{% block page_content %}
	<img src="img/bgbbt.jpg">

	<p>Current local date and time:  {{ moment(current_time).format('LLL') }}.</p>
	<p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>

	<div class="page-header">
		<h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
		{% if not known %}
			<p>Pleased to meet you!</p>
		{% else %}
			<p>Happy to see you again.</p>
		{% endif %}
	</div>
	{{ wtf.quick_form(form) }}
{% endblock %}